<app-headerbefore></app-headerbefore>
<div class="body-content"><div class="container">
  <div class="wrapper fadeInDown">
    <div id="formContent">
  
    <div class="form-group form-border">

      <div class="row">
        <div class="col-md-4 offset-md-4">
          <h2>Customer Login</h2>
        </div>
      </div>  
      <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          
          <!-- Login Form -->
          <form method="POST" #loginForm='ngForm' (ngSubmit)="onSubmit()" class="formClass">
            <div class="row">
              <div class="col-md-12">
                  <input type="text" class="fadeIn second" name="userName" [(ngModel)]="log.userName" #idField='ngModel' placeholder="username"> 
                </div>
            </div>
              
            <div class="row">
                <div class="col-md-12">
                    <input type="password" id="password" class="fadeIn third" name="password" [(ngModel)]="log.password" placeholder="password">
                  </div>
              </div>
              <button type="submit" class="btn btn-secondary">Login</button>
            </form>
      
        </div>
      </div>

      
      
    </div>
  
</div>
</div>
</div>

<app-footer></app-footer>
</div>
