<p>userheader works!</p>

<div class="header">
    <div class="container-fluid">
        <div class="row navbar-header">
            <div class="col-md-4 offset-md-1 ">
                <img  class="navbar-brand" src="assets/images/logo.jpg" alt="" class="logo-img" routerLink="/userhome">
            </div>      
            <div class="col-md-2 offset-md-1 navigation">
                <a href="#" class="text" >Flags</a>
            </div>  
            <div class="col-md-2 navigation" >
                <a href="/customerlogin" (click)="logout()" class="text">Logout</a>
            </div> 
        </div>
    </div>
</div>