
<div class="header" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <img src="assets/images/logo.jpg" alt="" class="logo-img" routerLink="/" >    
            </div>         
            <div class="col-md-1 offset-md-1 navigation">
                <a routerLink="/register" class="text">Register</a>
            </div>
            <div class="col-md-1 navigation">
                <a class="text" href="#">About us</a>
            </div>  
            <div class="col-md-1 navigation">
                <a href="#" class="text">Contact</a>
            </div> 
            <div class="col-md-1 text navigation">
                    <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle"  href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Login
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" routerLink="/customerlogin">Customer Login</a>
                              <a class="dropdown-item" routerLink="/userlogin">User Login</a>
                            </div>
                          </div>
            </div>
        </div>
    </div>
</div>


