<app-headerbefore></app-headerbefore>
<div class="body-content">     
<div class="container" >
    <div class="wrapper fadeInDown">
        <div id="formContent">
                <div class="row">
                        <div class="col-md-12">
                          <h2>Register</h2>
                        </div>
                      </div>  
                      <div class="wrapper fadeInDown">
                        <div id="formContent" class="bgcontent">
    <form method='POST' #regForm='ngForm' (ngSubmit)="onSubmit()" class="formClass">
        <div class="form-group form-border">
            
            <div class="row">
                <div class="col-md-12">
                    <!-- <label>Name</label> -->
                    <input type="text"class="form-control fadeIn" name="customerName" placeholder="Enter your name" [(ngModel)]="temp.customerName" #idField='ngModel' required>
                    <!-- <span *ngIf='nameField.invalid||nameField.untouched' class='text-danger'>Name is required</span> -->
            </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <!-- <label>Username</label> -->
                        <input type="text"class="form-control fadeIn" name="userName" placeholder="Enter your Username" [(ngModel)]="temp.userName" #idField='ngModel'required>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-12">
                        <!-- <label>Email</label> -->
                        <input type="text"class="form-control fadeIn" name="email" placeholder="Enter your Email" [(ngModel)]="temp.email" #idField='ngModel' required>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <!-- <label>Password</label> -->
                        <input type="password"class="form-control fadeIn" name="password" placeholder="Enter your Password"[(ngModel)]="temp.password" #idField='ngModel' required>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- <label>Mobile</label> -->
                    <input type="text"class="form-control fadeIn" name="mobile" placeholder="Enter your Mobile number" [(ngModel)]="temp.mobile" #idField='ngModel' required>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- <label>Address</label> -->
                <input type="text"class="form-control fadeIn" name="address" placeholder="Enter your Address" [(ngModel)]="temp.address" #idField='ngModel' required>
            </div>
    </div>
            <!-- <div class="row">
                    <div class="col-md-12">
                        <label>Confirm Password</label>
                        <input type="password"class="form-control" name="confirmPassword">
                    </div>
            </div> -->

            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <label>Account type</label>
                    <br />
                    <select name="accountType" class="custom-select" [(ngModel)]="temp.accountType">
                        <option selected='select'>Account Type</option>
                        <option *ngFor="let item of accType">
                            {{item}}
                        </option>
                    </select>
                </div>
            </div>
       
                
            
            <br />
            <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-secondary">Register</button>
                    </div>
            </div>
        </div>
    </form>
    </div>
    </div>
</div>
</div>   
</div>
<app-footer></app-footer>
</div>