<app-headerafter></app-headerafter>
<!-- <div class="container header">
        <h1>Welcome {{log.userName}}</h1>

</div> -->
<div class="container header">
        <h1>
                Accounts
        </h1>
</div>
<div class="limiter tab">
                <div class="container">
                  <div class="row">
                    <div class="wrap-table100">
                      <div class="table100">
                <table >
                        <tr>
                                <th>Account No</th>
                                <th>Balance</th>
                                <th>Type</th>
                        </tr>
                        <tr *ngFor='let accnts of accountsList' (click) = 'onClick(accnts)'>
                                <td>{{accnts.accountNo}}</td>
                                <td>{{accnts.balance}}</td>
                                <td>{{accnts.accountType}}</td>
                        </tr>
                </table>
        </div>
        </div>
        </div>
        </div>
</div>
<div class="container bt">
        <div class="row">
        <div class="col-md-6 offset-md-3">       
<form method="POST" (ngSubmit)="transfer()">
                <div class="col-md-4 offset-md-4">

                        <button type="submit" class="btn btn-secondary">TransferFunds</button>
                </div>
        </form>
</div>
</div>
</div>
