<app-headerbefore></app-headerbefore>

<div class="body-content">     
<div class="container">
    <form method='POST' #regForm='ngForm' (ngSubmit)="onSubmit()">
        <div class="form-group form-border">
            
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <label>Name</label>
                    <input type="text"class="form-control" name="customerName" [(ngModel)]="temp.customerName" #idField='ngModel' required>
                    <!-- <span *ngIf='nameField.invalid||nameField.untouched' class='text-danger'>Name is required</span> -->
            </div>
            </div>
            <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <label>Username</label>
                        <input type="text"class="form-control" name="userName" [(ngModel)]="temp.userName" #idField='ngModel'required>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <label>Email</label>
                        <input type="text"class="form-control" name="email" [(ngModel)]="temp.email" #idField='ngModel' required>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <label>Password</label>
                        <input type="password"class="form-control" name="password" [(ngModel)]="temp.password" #idField='ngModel' required>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <label>Mobile</label>
                    <input type="text"class="form-control" name="mobile" [(ngModel)]="temp.mobile" #idField='ngModel' required>
                </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <label>Address</label>
                <input type="text"class="form-control" name="address" [(ngModel)]="temp.address" #idField='ngModel' required>
            </div>
    </div>
            <!-- <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <label>Confirm Password</label>
                        <input type="password"class="form-control" name="confirmPassword">
                    </div>
            </div> -->

            <div class="row">
         <div class="col-md-4 offset-md-4">
           <label>Account type</label>
           <br />
           <select name="AccountType" [(ngModel)]="temp.AccountType" #idField='ngModel' required>
             <option selected>Current</option>
             <option>Savings</option>
           </select>
         </div>
       </div>
       <div>
       </div>
                
            
            <br />
            <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <button type="submit" class="btn btn-secondary">Register</button>
                    </div>
            </div>
        </div>
    </form>
</div>
</div>   
