<app-headerbefore></app-headerbefore>
<div class="body-content">
    <div class="container">
        <form method='POST' #regForm='ngForm' (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
            <div class="form-group form-border">
   
                    
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <label>Name</label>
                        <input id="name" class="form-control" name="customerName" [(ngModel)]="temp.customerName"
                            #nameField="ngModel" required>
                        <div *ngIf="f.submitted && nameField.invalid && (nameField.dirty || nameField.touched)" class="alert alert-danger">
                            <div *ngIf="nameField.errors.required">
                                Name is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <label>Username</label>
                        <input type="text" class="form-control" name="userName" [(ngModel)]="temp.userName"
                            #userNameField='ngModel' required>
                        <div *ngIf="f.submitted && userNameField.invalid && (userNameField.dirty || userNameField.touched)" class="alert alert-danger">
                            <div *ngIf="userNameField.errors.required">
                                Username is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email" [(ngModel)]="temp.email" #emailField='ngModel'
                            required>
                        <div *ngIf="f.submitted && emailField.invalid && (emailField.dirty || emailField.touched)" class="alert alert-danger">
                            <div *ngIf="emailField.errors.required">
                                Email is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="temp.password"
                            #pwdField='ngModel' minlength="6">
                        <div *ngIf="f.submitted && pwdField.invalid && (pwdField.dirty || pwdField.touched)" class="alert alert-danger">
                            <div *ngIf="pwdField.errors.minlength">
                                Password should be 6 characters long.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <label>Mobile</label>
                        <input type="text" class="form-control" name="mobile" [(ngModel)]="temp.mobile"
                            #mobileField='ngModel' required>
                        <div *ngIf="f.submitted && mobileField.invalid && (mobileField.dirty || mobileField.touched)" class="alert alert-danger">
                            <div *ngIf="mobileField.errors.required">
                                Mobile number is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <label>Address</label>
                        <input type="text" class="form-control" name="address" [(ngModel)]="temp.address"
                            #addressField='ngModel' required>
                        <div *ngIf="f.submitted && addressField.invalid && (addressField.dirty || addressField.touched)" class="alert alert-danger">
                            <div *ngIf="addressField.errors.required">
                                Address is required.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <label>Confirm Password</label>
                        <input type="password"class="form-control" name="confirmPassword">
                    </div>
            </div> -->
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <label>Account type</label>
                    <br />
                    <select name="accountType" class="custom-select" [(ngModel)]="temp.accountType">
                        <option selected='select'>Account Type</option>
                        <option *ngFor="let item of accType">
                            {{item}}
                        </option>
                    </select>
                </div>
            </div>
                <!-- <select [(ngModel)]="selectedOption">
                        <option *ngFor="let o of options">
                           {{o.name}}
                        </option>
                     </select> -->
                <br />
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <button type="submit" class="btn btn-secondary">Register</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>