<app-headerafter></app-headerafter>

<div class="container">
  <form method="POST" #trnaferForm='ngForm' (ngSubmit)="onSubmit()">
    <div class="form-group form-border">

      <div class="row">
        <div class="col-md-4 offset-md-4">
          <h1>Enter Details to transfer funds</h1>
        </div>
      </div>

      
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <label>From Account</label>
          <select name="accs" class="custom-select" [(ngModel)]="transfer.fromAccount">
              <option selected='select'>Select from account number</option>
              <option *ngFor="let item of accs">{{item}}</option>
          </select>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4 offset-md-4">
          <label>To Account</label>
          <input type="text" class="form-control" name="toAccount" [(ngModel)]="transfer.toAccount">
        </div>
      </div>

      <div class="row">
            <div class="col-md-4 offset-md-4">
              <label>Amount</label>
              <input type="text" class="form-control" name="transactionAmount" [(ngModel)]="transfer.transactionAmount">
            </div>
          </div>


      <br />
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <button type="submit" class="btn btn-secondary">Transfer</button>
        </div>
      </div>
    </div>
  </form>
</div>
