<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
<form action="homepage" method="post" th:object="${authenticate}">
 <pre>		
 
 User Name: <input type="text" name="userName" placeholder="User Name"   th:field="*{userName}" > </br>
 Password: <input type="text" name="password" placeholder="Password"  th:field="*{password}" required></br>
  
 <input type="submit" value="Login">  
 

	
	
 <a href="/userlogin" >User Login</a>
 <a href="/createaccount" >Create Account</a>
 
 
</pre>
</form>
</body>
</html>