<div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 ">
                    <img src="assets/images/logo.jpg" alt="" class="logo-img" routerLink="/customerhome">
                </div>      
                <div class="col-md-2 offset-md-1 navigation">
                    <a href="/profilesettings" >Settings</a>
                </div>
                <div class="col-md-2 navigation">
                    <a href="#">Create Account</a>
                </div>  
                <div class="col-md-2 navigation">
                    <a href="#">Logout</a>
                </div> 
                <div class="col-md-2 navigation">
                        <a href="#">Create New Account</a>
                    </div> 
            </div>
        </div>
    </div>