<app-headerafter></app-headerafter>

<form method="POST" (ngSubmit)="updateCustomers()">
    <div class="col-md-4 offset-md-4">
            <button type="submit" class="btn btn-secondary">Modify Customer's details</button>
    </div>
</form>

<form method="POST" (ngSubmit)="createNewAccount()">
    <div class="col-md-4 offset-md-4">
            <button type="submit" class="btn btn-secondary">Create New Account</button>
    </div>
</form>

<form method="POST" (ngSubmit)="createNewBankAccount()">
    <div class="col-md-4 offset-md-4">
            <button type="submit" class="btn btn-secondary">Create New Bank Account</button>
    </div>
</form>

<form method="POST" (ngSubmit)="deleteAccount()">
    <div class="col-md-4 offset-md-4">
            <button type="submit" class="btn btn-secondary">Remove Bank Account</button>
    </div>
</form>

<div class="conatiner">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Pending Requests</h2>
        </div>
    </div>
    <div class="row">
            <div class="col-md-8 offset-md-2">
                  <table>
                      <tr></tr>
                  </table>    
                </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table border='1'>
                <tr><th>Customer Name</th> <th>Customer Email</th> <th>Customer mobile</th> <th>Address</th> <th>Account Type</th> </tr>
                <tr *ngFor='let tem of temp'>
                    <td>{{tem.customerName}}</td>
                    <td>{{tem.email}}</td>
                    <td>{{tem.mobile}}</td>
                    <td>{{tem.address}}</td>
                    <td>{{tem.accountType}}</td>
                    
                    <td>
                            <form method="POST" (ngSubmit)="onAccept(tem)">
                        <button type="submit" class="btn btn-primary">Accept</button>
                    </form>
                    </td>
                
                    <td>
                            <form method="POST" (ngSubmit)="onReject(tem)">
                        <button type="submit" class="btn btn-primary">Reject</button>
                    </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<form method="POST" (ngSubmit)="getReportedTransactions()">
    <div class="col-md-4 offset-md-4">
            <button type="submit" class="btn btn-secondary">Get Reported Transactions</button>
    </div>
 </form>
